{% extends 'base_after_login.html' %}
{% load i18n static %}

{% block content %}
<div class="page_body">
    <form id="changepswd_form" class="row login_form change_pass_form" action="{% url 'userProfile:change_password' %}" method="post">{% csrf_token %}
        <div class="col-md-7 segregation_line position-relative left-side">
            <h2 class="font_20 fw-semi mb_25 dark_black">Change Password</h2>
            <div class="logininput-field mb_21">
                <label for="">Old Password</label>
                {{ form.old_password }}
                <img src="{% static '/images/eye_icon.svg' %}" alt="eye_icon" class="img-fluid eye_icon" data-eye="{% static '/images/eye_icon.svg' %}" data-show_eye="{% static 'images/show_eye_icon.png' %}">
                {% if form.old_password.errors %}<label id="old_password-error" class="errorlist oldpswd_err" for="old_password" style="list-style: none;">{{ form.old_password.errors }}</label>{% endif %}
            </div>
            <div class="logininput-field mb_21">
                <label for="">New Password</label>
                {{ form.new_password1 }}
                {% if form.new_password1.errors %}<label id="new_password1-error" class="errorlist new1pswd_err" for="new_password1" style="list-style: none;">{{ form.new_password1.errors }}</label>{% endif %}
                <img src="{% static '/images/eye_icon.svg' %}" alt="eye_icon" class="img-fluid eye_icon" data-eye="{% static '/images/eye_icon.svg' %}" data-show_eye="{% static 'images/show_eye_icon.png' %}">
            </div>
            <div class="logininput-field">
                <label for="">Confirm New Password</label>
                {{ form.new_password2 }}
                {% if form.new_password2.errors %}<label id="new_password2-error" class="errorlist new2pswd_err" for="new_password2" style="list-style: none;">{{ form.new_password2.errors }}</label>{% endif %}
                <img src="{% static '/images/eye_icon.svg' %}" alt="eye_icon" class="img-fluid eye_icon" data-eye="{% static '/images/eye_icon.svg' %}" data-show_eye="{% static 'images/show_eye_icon.png' %}">
            </div>
            <button type="submit" class="btn btn-primary create-account font_16 fw-bold ">Change My Password</button>
        </div>
        <div class="col-md-5 right-side">
            <h4 class="font_16 text_black fw-bold mb_18">Your Password Must Contain:</h4>
            <span class="d-block text_black font_13 mb_13">At least 1 upper case letter (A to Z)</span>
            <span class="d-block text_black font_13 mb_13">At least 1 number (0-9)</span>
            <span class="d-block text_black font_13 mb_13">At least 1 special character</span>
            <span class="d-block text_black font_13 mb_13">At least 8 chracters</span>
        </div>
    </form>
</div>
{% endblock %}
