{% load i18n %}{% autoescape off %}

{% trans 'Hi' %} {{ user.get_full_name|upper }},

{% trans 'You are receiving this email because you requested for a password reset for your account with Omdena - Orphanage Dashboard.' %}

{% trans "Please click on the link below to reset your password:" %}

{{ protocol }}://{{ domain }}{% url 'userProfile:password_reset_confirm' uidb64=uid token=token %}

{% trans "If clicking the link does not work, please copy it and paste the URL in a new browser window." %}

{% trans "Thank you" %}

{% blocktrans %}Team Omdena{% endblocktrans %}

{% endautoescape %}
