{% extends 'base_before_login.html' %}
{% load i18n static %}

{% block content %} 

<div class="page_body">
        {% if validlink %}
        <form id="changepswd_form" class="row login_form change_pass_form" action="" autocomplete="off" method="post">{% csrf_token %}
            <div class="col-md-7 segregation_line position-relative left-side">
                <h2 class="font_20 fw-semi mb_25 dark_black">Reset Password</h2>
                <div class="logininput-field mb_21">
                    <label for="">New Password</label>
                    {{ form.new_password1 }}
                     <img src="{% static '/images/eye_icon.svg' %}" alt="eye_icon" class="img-fluid eye_icon" data-eye="{% static '/images/eye_icon.svg' %}" data-show_eye="{% static 'images/show_eye_icon.png' %}">
                </div>
                <div class="logininput-field mb_21">
                    <label for="">Confirm New Password</label>
                    {{ form.new_password2 }}
                     <img src="{% static '/images/eye_icon.svg' %}" alt="eye_icon" class="img-fluid eye_icon" data-eye="{% static '/images/eye_icon.svg' %}" data-show_eye="{% static 'images/show_eye_icon.png' %}">
                </div>
                <button type="submit" class="btn btn-primary create-account font_16 fw-bold ">Reset Password</button>
            </div>
        </form>
        {% else %}
        <div class="col-md-7 segregation_line position-relative left-side">
            <h2 class="font_20 fw-semi mb_9 dark_black"> Reset Password </h2>
            <h6 class="font_13 fw-normal mb_31">The Password reset link is invalid, possibly beacause it has already been used. Please request a new password reset.</h6>
        </div>
        {% endif %}
</div>
{% endblock %}

