<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href='{% static "styling.css" %}'>
    <title>Orphanage Monitor System</title>
</head>
<body>
    <ul class="topnav">
        <li><a class="active" href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'admin:index' %}">Admin</a></li>
        <li><a href="{% url 'app' %}">App</a></li>
    </ul>

    <div class="center">
        <h1>Orphanage Monitor System</h1>
        <form action='stream/'>
            <button class="button button1">Start</button>
        </form>
        <p>Notice: It might take a while to load the Video Stream!</p>
        <p>If you haven't GENERATE encodings.</p>
    </div>
    
</body>
</html>