<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href='{% static "styling.css" %}'>
    <title>Monitoring App</title>
</head>
<body>
    <ul class="topnav">
        <li><a class="active" href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'admin:index' %}">Admin</a></li>
        <li><a href="{% url 'app' %}">App</a></li>
    </ul>

    <h1>Orphanage Monitor System</h1>

    {% for message in messages %} 
        {% if message.level == 25 %}
            <div class="alert success"> 
                <span class="closebtn">&times;</span>   
                <strong>SUCCESS!</strong> Monitoring Program Closed!
            </div> 
        
        {% elif message.level == 30 %}
            <div class="alert warning"> 
                <span class="closebtn">&times;</span>   
                <strong>WARNING!</strong> {{message}} 
            </div> 

        {% else %}
            <div class="alert"> 
                <span class="closebtn">&times;</span>   
                <strong>ERROR!</strong> {{message}} 
            </div>
        {% endif %}
    {% endfor %}

    <script>
        var close = document.getElementsByClassName("closebtn");
        var i;
        
        for (i = 0; i < close.length; i++) {
          close[i].onclick = function(){
            var div = this.parentElement;
            div.style.opacity = "0";
            setTimeout(function(){ div.style.display = "none"; }, 600);
          }
        }
    </script>
        
</body>
</html>